
@model IEnumerable<SocialNetwork.Models.ApplicationUser>

@{
    ViewBag.Title = "Applications";
}


<div class="container body-start">
    <div class="row">
        <div class="col-sm-3">
            <div class="jumbotron">

                <p>@Html.ActionLink("Моя страница", "Index", "Userpage")</p>
                <p>@Html.ActionLink("Мои сообщества", "Subscriptions", "Communities")</p>
                <p>@Html.ActionLink("Мои сообщения", "#")</p>
                <p>@Html.ActionLink("Мои друзья", "Friends", "Userpage")</p>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-5"><h4>@Html.ActionLink("Друзья", "Friends")</h4></div>
                    <div class="col-lg-3"><h4><u>@Html.ActionLink("Заявки", "Applications")</u></h4></div>
                </div>
                <div class="row">
                    <div>
                        <form action="Applications" method="post" class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" name="Filter" class="form-control" placeholder="Найти">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                </div>
                <hr />

                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-lg-6">@Html.ActionLink(item.FirstName + " " + item.LastName, "Id", new { id = item.Id })</div>
                        <div class="col-lg-6">
                            <a href="/Userpage/Confirmfriendapplications?id=@item.Id" class="btn btn-success">Принять заявку</a>
                            <a href="/Userpage/Deletefriendapplications?id=@item.Id" class="btn btn-light">Отменить заявку</a>
                        </div>
                    </div>
                    <br />
                }

            </div>
        </div>
    </div>
</div>