@model SocialNetwork.Models.UserPageViewModel

@{
    ViewBag.Title = "Userpage";
}

<div class="container body-start">
    <div>
        <div class="row">
            <div class="col-sm-3">
                <div class="jumbotron">

                    <p>@Html.ActionLink("Моя страница", "Index", "Userpage")</p>
                    <p>@Html.ActionLink("Мои сообщества", "Subscriptions", "Communities")</p>
                    <p>@Html.ActionLink("Мои сообщения", "#")</p>
                    <p>@Html.ActionLink("Мои друзья", "Friends", "Userpage")</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="jumbotron">
                    @if (ViewBag.hasPicture)
                    {
                        <img src="~/Temp/@(Model.User.Id+ ".jpeg")" class="img-responsive img-rounded">
                    }
                    else
                    {
                        <img src="https://www.stomatolog3.ru/wp-content/themes/stomatologia/img/no-person.jpg" class="img-responsive img-rounded">
                    }
                    <br />
                    <div><a href="/ApplicationUsers/Image" class="btn btn-info center-block">Изменить</a></div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4><b>@Model.User.LastName @Model.User.FirstName</b></h4>
                        </div>
                        <div class="col-sm-1">
                            <h5>
                                @Html.ActionLink(" ", "Edit", "ApplicationUsers", null, new { @class = "glyphicon glyphicon-pencil" })
                            </h5>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <p> @Model.User.Email</p>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <p>День рождения: @Model.User.BirthDate.ToString("dd.MM.yyyy")</p>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-8">

                <div class="jumbotron">

                    <h3>Новости</h3>
                </div>
            </div>
        </div>

        @foreach (var item in Model.News)
        {
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-8">
                    <div class="jumbotron">

                        <div>
                            <h4>
                                @Html.ActionLink(item.CommunityName, "Community", "Communities", new { ComId = item.CommunityId }, null)
                            </h4>
                            <div>
                                <p>
                                    @item.Text
                                </p>
                            </div>
                            <div>@Html.ActionLink(item.AuthorFN + " " + item.AuthorLN, "Id", "Userpage", new { id = item.AuthorId }, null)<span class="text-muted"> написал @item.CreationDate</span></div>

                            <a href="/Posts/Details?id=@item.PostId">Открыть</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
