@model IEnumerable<SocialNetwork.Models.Communities>

@{
    ViewBag.Title = "All";
}

<div class="container body-start">
    <div class="row">
        <div class="col-sm-3">
            <div class="jumbotron">

                <p>@Html.ActionLink("Моя страница", "Index", "Userpage")</p>
                <p>@Html.ActionLink("Мои сообщества", "Subscriptions", "Communities")</p>
                <p>@Html.ActionLink("Мои сообщения", "#")</p>
                <p>@Html.ActionLink("Мои друзья", "Friends", "Userpage")</p>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8"><h4>Все сообщества</h4></div>
                </div>
                <div class="row">
                    <div>
                        <form action="All" method="post" class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" name="Filter" class="form-control" placeholder="Найти">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                </div>
                <hr />

                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-lg-8"><h4>@Html.ActionLink(item.Name, "Community", new { ComId = item.CommunityId })</h4></div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
